.app--tweet
  form(method="post", action="/post")
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
        .app--avatar(style=`background-image: url(${status[0]["image"]})`)
          img(src= status[0]["image"])
        textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?", name="tweet_button")
        strong#tweet-char.app--tweet--char 140
      .circle--fluid--cell.align-bottom
        button.button-primary(type='submit') Tweet
